
.nav{
    background-color: rgb(0, 201, 255);
}

.cardtrans:hover {
    transform: scale(1.1);
}

.cardtrans {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
}

.cardlabo{
    border-color: white;
}

.tableinfo {
    font-size: 50px;
    background-color: aqua;
}

.tableinfomed {
    font-weight: bold;
}

.slide{
    float : left;
}
.slides{
    width:calc(500px *3);
    animation: glisse 10s infinite;
}
.slider{
    width:500px;
    overflow: hidden;
    margin-left : 300px;
}

@keyframes glisse{
    0%{
        transform : translateX(0);
    }
    10%{
        transform : translateX(0);
    }

    33%{
        transform : translateX(-500px);
    }
    43%{
        transform : translateX(-500px);
    }
    66%{
        transform : translateX(-1000px);
    }
    76%{
        transform : translateX(-1000px);
    }
    100%{
        transform : translateX(0);
    }
}
